# importing panda

In [8]:
import pandas as pd

In [13]:
#create a dataframe called df
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print(df)

    S/N                      Name  Age  Height  Weight
0     1            Adokorac Nancy   20  177.80      74
1     2   Amutuhaire Faith Ahabwe   27  157.50      47
2     3     KWAGALA JOANNA VICTOR   21  210.82      54
3     4              mahoro cathy   23  187.96      30
4     5  Mbabazi Hawa Bint Edrisa   19  175.25      59
5     6       Nakanjako josephine   24  175.25      65
6     7            Nanteza Dorcus   21  157.48      69
7     8             Mbabazi Angel   19  167.64      57
8     9            Namara Racheal   19  154.94      55
9    10       Lwamulungi Sheillah   22  162.56      78
10   11           Nakawuka Sandra   25  175.25      60
11   12   Achola Gloria Fortunate   27  172.72      80
12   13             Nagawa Esther   21  187.96      58
13   14           wanjiku hananny   19  165.10      50
14   15            babirye Sandra   21  175.25      50
15   16          nakagga shanitah   21  175.25      50
16   17    Wembabazi Vivian Ritah   20  160.02      49
17   18   Nanziri Ritah Namayanja   23  162.56      70
18   19            Nasejje Mariam   20  101.60      62
19   20  Namukose Jolline Edriana   20  162.56      55
20   21      Agatha Faith Anyango   27   93.98      55
21   22              Kirabo Sarah   23  165.10      60
22   23          Nansalire Anitah   21   63.50      45
23   24             Nalugo gladys   19  101.60      70
24   25            Namakula Allen   20  170.18      55
25   26           Tukahirwa emily   22  175.26      67
26   27            Shamirah Ahmed   21  137.16      67
27   28          Ameso lmmaculate   23  165.10      64
28   29                Ayoo Teddy   20  157.48      50
29   30                Biira Mary   30  104.14      65
30   31        Aloyo Brenda Ojera   23  170.18      52
31   32        Ayebale Immaculate   24  162.56      50

In [ ]:
pip install openpyxl

In [ ]:
pip install pandas as pd

In [5]:
import pandas as pd

In [6]:
#mean of age of the data set above
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')

print("mean",df["Age"].mean())

mean 22.03125

In [8]:
#variance of age of age of the above data
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print("var",df["Age"].var)

var <bound method Series.var of 0     20
1     27
2     21
3     23
4     19
5     24
6     21
7     19
8     19
9     22
10    25
11    27
12    21
13    19
14    21
15    21
16    20
17    23
18    20
19    20
20    27
21    23
22    21
23    19
24    20
25    22
26    21
27    23
28    20
29    30
30    23
31    24
Name: Age, dtype: int64>

In [9]:
# standard deviation of age of the above data set
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print("std",df["Age"].std)

std <bound method Series.std of 0     20
1     27
2     21
3     23
4     19
5     24
6     21
7     19
8     19
9     22
10    25
11    27
12    21
13    19
14    21
15    21
16    20
17    23
18    20
19    20
20    27
21    23
22    21
23    19
24    20
25    22
26    21
27    23
28    20
29    30
30    23
31    24
Name: Age, dtype: int64>

# Height

In [10]:
# mean of height of the data set above
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print("mean",df["Height"].mean)

mean <bound method Series.mean of 0     177.80
1     157.50
2     210.82
3     187.96
4     175.25
5     175.25
6     157.48
7     167.64
8     154.94
9     162.56
10    175.25
11    172.72
12    187.96
13    165.10
14    175.25
15    175.25
16    160.02
17    162.56
18    101.60
19    162.56
20     93.98
21    165.10
22     63.50
23    101.60
24    170.18
25    175.26
26    137.16
27    165.10
28    157.48
29    104.14
30    170.18
31    162.56
Name: Height, dtype: float64>

In [11]:
#variance of height of dataset above
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print("var",df["Height"].var)

var <bound method Series.var of 0     177.80
1     157.50
2     210.82
3     187.96
4     175.25
5     175.25
6     157.48
7     167.64
8     154.94
9     162.56
10    175.25
11    172.72
12    187.96
13    165.10
14    175.25
15    175.25
16    160.02
17    162.56
18    101.60
19    162.56
20     93.98
21    165.10
22     63.50
23    101.60
24    170.18
25    175.26
26    137.16
27    165.10
28    157.48
29    104.14
30    170.18
31    162.56
Name: Height, dtype: float64>

In [12]:
# stanard deviation of height of dataset above

df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print("std",df["Height"].std)

std <bound method Series.std of 0     177.80
1     157.50
2     210.82
3     187.96
4     175.25
5     175.25
6     157.48
7     167.64
8     154.94
9     162.56
10    175.25
11    172.72
12    187.96
13    165.10
14    175.25
15    175.25
16    160.02
17    162.56
18    101.60
19    162.56
20     93.98
21    165.10
22     63.50
23    101.60
24    170.18
25    175.26
26    137.16
27    165.10
28    157.48
29    104.14
30    170.18
31    162.56
Name: Height, dtype: float64>

# Weight

In [13]:
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print("mean",df["Weight"].mean)
# mean of weight of above data set

mean <bound method Series.mean of 0     74
1     47
2     54
3     30
4     59
5     65
6     69
7     57
8     55
9     78
10    60
11    80
12    58
13    50
14    50
15    50
16    49
17    70
18    62
19    55
20    55
21    60
22    45
23    70
24    55
25    67
26    67
27    64
28    50
29    65
30    52
31    50
Name: Weight, dtype: int64>

In [14]:
# variance of weight of above dataset
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print("var",df["Weight"].mean)

var <bound method Series.mean of 0     74
1     47
2     54
3     30
4     59
5     65
6     69
7     57
8     55
9     78
10    60
11    80
12    58
13    50
14    50
15    50
16    49
17    70
18    62
19    55
20    55
21    60
22    45
23    70
24    55
25    67
26    67
27    64
28    50
29    65
30    52
31    50
Name: Weight, dtype: int64>

In [15]:
# standard deviation of data set above of weight
df=pd.read_excel(r'C:\Users\STUDENT\Desktop\WITU C3\Year One\Semister One\Introduction to Data Science and Machine Learning\data\dataset.xlsx')
print("std",df["Weight"].std)

std <bound method Series.std of 0     74
1     47
2     54
3     30
4     59
5     65
6     69
7     57
8     55
9     78
10    60
11    80
12    58
13    50
14    50
15    50
16    49
17    70
18    62
19    55
20    55
21    60
22    45
23    70
24    55
25    67
26    67
27    64
28    50
29    65
30    52
31    50
Name: Weight, dtype: int64>